# This is Git's per-user configuration file.
[user]
	name = Kitttitach
	email = saikittitach@hotmail.com
# Please adapt and uncomment the following lines:
#	name = Kittitach
#	email = saikittitach@hotmail.com
